/* --------
 font
 ----------*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fruktur&display=swap");

/* ----------
 variables
----------*/

:root {
    --primary: #265c5e;
    --primary-blur: rgb(27, 65, 66);
    --secondary: #ff9600;
    --cursive-font: "Dancing Script", cursive;
    --poppins-font: "Poppins", sans-serif;
    scroll-behavior: smooth;
}


/* ------------------
 global settings 
----------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    color: white;
}

::after,
::before {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    font-family: var(--poppins-font);
    font-weight: 300;
    background-color: var(--primary-blur);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: inline-block;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 600;
}

h3,
h4,
h5,
h6 {
    font-weight: 500;
}

section {
    overflow: hidden;
}


/* ele */

.btn {
    display: inline-block;
    padding: 10px 30px;
    background-color: transparent;
    border-radius: 30px;
    text-transform: capitalize;
    font-weight: 500;
    transition: all 0.3s ease;
    font-size: 16px;
    cursor: pointer;
    font-family: inherit;
    color: var(--secondary);
    line-height: 1.5;
    user-select: none;
}

.btn--rounded {
    border: 2px solid var(--secondary);
}

.btn--rounded:hover {
    color: var(--primary);
    background-color: var(--secondary);
    border-color: var(--primary);
}

.sec-padding {
    padding: 80px 0;
}

.grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 250px 250px 250px;
    grid-template-areas: "h1 h2" "h1 h3" "h1 h4";
}

.tran-x-100 {
    transform: translateX(-100%);
}

.tran-x100 {
    transform: translateX(100%);
}

#to-the-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.8rem;
    padding-bottom: 2px;
    border-radius: 4px;
    background-color: var(--primary);
}

#up {
    color: var(--secondary);
}

#to-the-top:hover,
#to-the-top:hover>#up {
    background-color: var(--secondary);
    color: var(--primary);
}


/* animation keyframe*/

@keyframes zoomInOut {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}


/* ----------
 header
 ------------*/

.header {
    /* background-color: #333; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
}

.header::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary);
    z-index: -1;
    transition: transform 0.5s ease;
    transform: translateY(-100%);
}

.header.sticky::before {
    transform: translateY(0%);
}

.header .container {
    max-width: 80%;
    background-color: transparent;
    margin: auto;
}

.header .row {
    justify-content: space-between;
}

.header .header-logo img {
    width: 70px;
    height: 70px;
}

.btn-side {
    display: none;
    text-align: right;
    line-height: 16px;
}

.btn-side ion-icon {
    font-size: 2.5rem;
    padding-top: 1rem;
}

.side {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 320px;
    background-color: var(--primary);
    z-index: 1;
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;
}

#side-bar:checked~.side {
    transform: translateX(0);
}

.side-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
    margin-bottom: 20px;
}

.side-title p {
    padding: 1rem;
    padding-bottom: 0;
    display: inline-block;
    color: white;
    font-family: var(--poppins-font);
    font-weight: 500;
    font-size: 1.2rem;
    user-select: none;
}

.side-title ion-icon {
    color: white;
    font-weight: 500;
    font-size: 1.7rem;
    padding: .5rem;
    padding-bottom: 0;
}

.side-title span {
    font-family: var(--cursive-font);
    color: var(--secondary);
    font-weight: 500;
    font-size: 2rem;
}

.side ul {
    display: block;
    padding-left: 0;
}

.side .nav-item {
    display: block;
    width: 100%;
    list-style: none;
    padding: .5rem;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.nav-item a {
    color: white;
}

.side #facebook {
    color: white;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: .4;
    transition: display 0.2s ease;
}

#side-bar:checked~.overlay {
    display: block;
}

.icon-facebook {
    display: inline-block;
    margin-left: 1%;
    text-align: center;
}

#facebook {
    font-size: 30px;
    padding-top: 1.5rem;
}

.header-nav {
    display: block;
}

.header-nav ul li {
    display: inline-block;
    padding: 1rem 0.5rem;
    padding-bottom: 0;
    font-size: 1.5rem;
}

.header-nav li:not(:first-child) {
    margin-left: 2rem;
}

.header-nav a {
    color: white;
    transition: color 0.3s ease;
}

.nav-item:hover a,
#facebook:hover,
#facebook:hover>ion-icon,
ion-icon:hover {
    color: var(--secondary);
}


/* home section */

.home-section {
    position: relative;
    overflow: hidden;
}

.home-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    z-index: -1;
    opacity: 0.7;
}

.home-section .home-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/home-bg.jpg) no-repeat fixed center;
    background-size: cover;
    z-index: -2;
    animation: zoomInOut 20s ease infinite;
}

.home-section .min-vh-100 {
    padding: 100px 0;
}

.home-text {
    max-width: 60%;
    width: 100%;
    margin: auto;
    text-align: center;
}

.home-text h1 {
    font-size: 60px;
    font-family: var(--cursive-font);
    line-height: 8rem;
    margin: 0 0 5px;
    color: var(--secondary);
}

.home-text p {
    margin: 0 0 30px;
}


/* ---------
 news section 
 -------------*/

.section-title {
    width: 100%;
    padding: 0 1rem;
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 35px;
    text-transform: capitalize;
    color: white;
}

.section-title h2::before {
    content: attr(data-title);
    display: block;
    font-size: 24px;
    color: var(--secondary);
    font-family: var(--cursive-font);
    text-transform: capitalize;
}

.big-image {
    grid-area: h1;
}

.small-image:nth-child(2) {
    grid-area: h2;
}

.small-image:nth-child(3) {
    grid-area: h3;
}

.small-image:last-child {
    grid-area: h4;
}

.news-item img {
    height: 100%;
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}


/* menu section */

.menu-section {
    /* background-color: #333; */
    padding-bottom: 60px;
}

.menu-section .section-title {
    margin-bottom: 1.5rem;
}

.menu-tabs {
    text-align: center;
    width: 100%;
    padding: 0 15px;
    margin-bottom: 1.5rem;
}

.menu-tab-item {
    font-size: 18px;
    font-family: inherit;
    text-transform: capitalize;
    border: none;
    background-color: transparent;
    font-weight: 500;
    color: white;
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.3s ease;
    display: inline-block;
}

.menu-tab-item.active {
    color: var(--secondary);
}

.menu-tab-content {
    display: none;
}

.menu-tab-content.active {
    display: flex;
}

.menu-item {
    width: 50%;
    padding: 1rem 1rem;
    position: relative;
}

.menu-item::after {
    content: "";
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: 0;
    border: 2px dashed white;
    opacity: 0.2;
}

.menu-item:hover h3 {
    color: var(--secondary);
}

.menu-item img {
    display: inline-block;
    max-width: 100px;
    height: 100px;
    margin-right: 1rem;
}

.menu-item h3 {
    text-transform: capitalize;
    display: inline-block;
}


/* footer */

.footer {
    padding-top: 80px;
    padding-bottom: 30px;
    background-color: #333;
}

.footer-item {
    width: calc(100% / 3);
    padding: 0 15px;
    text-align: center;
}

.footer-item h3 {
    text-transform: capitalize;
    font-size: 22px;
    margin: 0 0 1rem;
}

.footer-item p {
    line-height: 30px;
}


/*---------
 responsive
 --------*/

@media (min-width: 1024px) {
    .header-nav {
        width: 75%;
    }
    .header-nav li:not(:first-child) {
        margin-left: 0;
    }
}

@media (max-width: 1023px) {
    .header-nav {
        display: none;
    }
    .btn-side {
        display: block;
    }
    .home-text {
        max-width: 100%;
    }
    .news-section>.container {
        max-width: 90%;
    }
    .menu-section>.container {
        max-width: 700px;
    }
    .tran-x-100 {
        transform: translateX(-65%);
    }
    .tran-x100 {
        transform: translateX(65%);
    }
    .menu-item {
        width: 100%;
    }
    .footer-item {
        width: 100%;
        margin-bottom: 2rem;
    }
}